<div class="container">
    <header class="my-5">
        <h1 class="mb-3">Cancel Page</h1>
        <div class="alert alert-info" role="alert">
            <p>When a user cancels a transaction they will be redirected to the cancel page.</p>
            <%= link_to 'main demo', root_path, class:"alert-link" %>
        </div>
    </header>
    <div class="d-flex align-items-center justify-content-center my-5">
        <%= image_tag 'checkout-abandonded.gif', alt:"fireworks"%>
    </div>
</div>

<%= render partial:"layouts/navigation" %>