<nav class="nav justify-content-center">
    <%= link_to 'demo', root_path, class:"nav-link ps-0" %>
    <%= link_to 'success', success_path, class:"nav-link" %>
    <%= link_to 'cancel', cancel_path, class:"nav-link" %>
</nav>